body{
  margin: 0;
}
.container{
  width:95%;
  margin: 0 auto;
  /*background: /*grey*/
}
.column-cat{
  display: inline-block;
  width: 12.5%;
}
.column-main{
  display: inline-block;
  width: 25%;
}
.main{
  font-weight: bold;
  font-size: 1.2em;
}